.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(18, 18, 20);
}

.card-user {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: auto 0;
    flex-direction: column;
    align-items: center;
}

.card-button {
    display: flex;
}

#text-user {
    color: white;
    background: rgb(32, 32, 36);
    padding: 100px;
    border-radius: 12px;
    font-size: 20px;
    font-family: monospace;
    line-height: 1.5;
    height: 220px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    margin: 20px;
}
