<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Scripts -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/5b1c173e42.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">

    {% block head %}

    {% endblock %}

    <title>Task</title>
</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>